<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--include libraries(jQuery)-->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>

<body>
    <h1>[(${board.title})]</h1>
    <div>작성자: <b>[(${board.writerNickName})]</b></div>
    <th:block th:if="${user.id} == ${board.writerId}">
        <form th:action="@{/board/delete}" method="post">
            <input type="hidden" name="id" th:value="${board.id}">
            <input type="hidden" name="content" th:value="${board.content}">
            <input type="submit" value="삭제 하기" style="float: right;">
        </form>
        <form th:action="@{/board/update/form}" method="post">
            <input type="hidden" name="id" th:value="${board.id}">
            <input type="hidden" name="title" th:value="${board.title}">
            <input type="hidden" name="content" th:value="${board.content}">
            <input type="hidden" name="thumbnail" th:value="${board.thumbnail}">
            <input type="submit" value="수정 하기" style="float: right;">
        </form>
    </th:block>
    <br/>
    <div class="text-dark mb-0">[(${board.content})]</div>
    <hr/>
    <h2>댓글</h2>
    <form th:action="@{/comment/create}" method="post">
        <input type="hidden" name="boardId" th:value="${board.id}">
        <input type="hidden" name="userId" th:value="${user.id}">
        <div>
            <textarea id="comment" name="content" placeholder="댓글을 작성하세요" rows="2" cols="100" ></textarea>
            <span id="comment_cnt">(0 / 50)</span>
            <input type="submit" value="댓글 작성">
        </div>
    </form>
    <hr/>
<!--댓글 리스트 추가 해야함-->
    <div>
        <span>[(${#lists.size(board.commentList)})]개의 댓글</span>
        <th:block th:if="${#lists.size(board.commentList)} != 0">
            <div th:each="comment : ${board.commentList}" style="background-color: lightgray">
                <th:block th:if="${user.id} == ${comment.user.id}">
                    <form th:action="@{/comment/delete}" method="post">
                        <input type="hidden" name="id" th:value="${comment.id}">
                        <input type="hidden" name="boardId" th:value="${board.id}">
                        <input type="submit" value="삭제" style="float: right;">
                    </form>
                </th:block>

                <p th:text="${comment.user.nickName}"></p>

                <p th:text="${comment.content}"></p>
            </div>
        </th:block>
    </div>


    <script>
        $(document).ready(function() {
            $('#comment').on('keyup', function() {
                $('#comment_cnt').html("("+$(this).val().length+" / 50)");

                if($(this).val().length > 50) {
                    $(this).val($(this).val().substring(0, 50));
                    $('#comment_cnt').html("(50 / 50)");
                }
            });
        });
    </script>
</body>
</html>